.calendar-container {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

.fc {
    max-height: 100%
}

.fc-scroller {
    overflow-y: auto !important;
    overflow-x: hidden !important;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

.fc-scroller::-webkit-scrollbar {
    width: 8px;
}

.fc-scroller::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.fc-scroller::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.fc-scroller::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fc-timegrid-now-indicator-arrow {
    display: none !important;
}

.fc-timegrid-now-indicator-line {
    background-color: red !important;
    height: 2px !important;
    position: relative;
}

.fc-timegrid-now-indicator-line::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}

.fc-event.event-maybe {
    background-color: #3788d8 !important; /* Сплошной синий фон */
    color: #ffffff !important; /* Белый текст */
    position: relative; /* Для позиционирования псевдоэлемента */
    overflow: hidden; /* Чтобы полоски не выходили за границы */
}

.fc-event.event-maybe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
            45deg,
            transparent,
            transparent 5px, /* Прозрачная часть */
            rgb(55, 76, 214) 4px, /* Начало белой полоски */
            rgb(55, 76, 214) 8px /* Конец белой полоски */
    );
    pointer-events: none; /* Чтобы псевдоэлемент не мешал взаимодействию с событием */
}